# Directories #
build/
bin/
target/

 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db

# ignoro el pom
pom.xml

# ignoro los escudos
src/main/webapp/resources/img/escudo.gif
src/main/webapp/resources/img/favicon.ico
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
######################
# NetBeans
######################
nb-configuration.xml
